@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 211 100% 7%;
    --foreground: 202 95% 88%;
    --card: 212 72% 12%;
    --card-foreground: 202 95% 88%;
    --popover: 212 72% 12%;
    --popover-foreground: 202 95% 88%;
    --primary: 209 40% 54%;
    --primary-foreground: 210 40% 98%;
    --secondary: 212 55% 21%;
    --secondary-foreground: 202 95% 88%;
    --muted: 212 55% 21%;
    --muted-foreground: 210 28% 66%;
    --accent: 212 55% 21%;
    --accent-foreground: 202 95% 88%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 212 55% 21%;
    --input: 212 55% 21%;
    --ring: 209 40% 54%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 211 100% 7%;
    --foreground: 202 95% 88%;
    --card: 212 72% 12%;
    --card-foreground: 202 95% 88%;
    --popover: 212 72% 12%;
    --popover-foreground: 202 95% 88%;
    --primary: 209 40% 54%;
    --primary-foreground: 210 40% 98%;
    --secondary: 212 55% 21%;
    --secondary-foreground: 202 95% 88%;
    --muted: 212 55% 21%;
    --muted-foreground: 210 28% 66%;
    --accent: 212 55% 21%;
    --accent-foreground: 202 95% 88%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 212 55% 21%;
    --input: 212 55% 21%;
    --ring: 209 40% 54%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
